/tmp/ 

# Playwright
/playwright/node_modules/
/playwright/test-results/
/playwright/playwright-report/
/playwright/blob-report/
/playwright/playwright/.cache/

# Ignore master key for decrypting credentials and more.
/config/master.key
